

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.fuenteprincipal {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
}

.fuentetxt {
   font-style: italic;
   font-size: 15px;
   color: blue;
}













